<div class="meals" *ngIf="project">    
    <div class="meals__title">
        <h1>
            <img src="/images/food.svg"> Project: {{project.title}}
        </h1>
        <a class="btn__add" [routerLink]="['../../edit', project.$key]">
                <img src="/images/add-white.svg"> Edit
            </a>
    </div>
    
    <div *ngIf="project && project.threats">
        <ngx-charts-bar-horizontal [view]="view" [scheme]="colorScheme" [results]="results" [gradient]="gradient" [xAxis]="showXAxis"
            [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [yAxisLabel]="'Cumulative Success Level'"
             [xAxisLabel]="'Cumulative Success Level'"
            (select)="onSelect($event)">
        </ngx-charts-bar-horizontal>        
    </div>

    <div class="message" *ngIf="!project.threats">
        <img src="/images/face.svg"> No threats are currently assigned to this project
    </div>    
</div>

<schedule-assign *ngIf="threatEditOpen" (cancel)="handleCancel()"></schedule-assign>