<h1>This is the Projects page</h1>
    
    <!-- <pre>{{allProjects$ | async |json}}</pre>
    
    <pre>{{form.value|json}}</pre> -->
     <table>
       <tr>
            <th>
                    Threat
            </th>
            <!-- <th>
                    Impact
            </th>
            <th>
                    Probability
            </th> -->
       </tr>
       <tr *ngFor="let project of allProjects$ | async; let i = index">
            <td>
                {{project.title}}
            </td>
            <!-- <td>
                {{threat.impact}}
            </td>
            <td>
                {{threat.probability}}
            </td> -->
       </tr>
       </table>
     <form [formGroup]="form">
        <label>Title</label>
        <input type="text" placeholder="Enter project title" formControlName="title">

        <h3>
        Need a list of threats
        </h3>

        <threats-display [threats]="threats.value"></threats-display>
        <threat-form (handleSaveThreat)="addThreat($event)"></threat-form>

        <button (click)="handleSaveProject(form.value)">Save</button>
    </form>